
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

.page-header  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h1 { font-size: 30px; }


ul li { list-style: none; }
a { text-decoration: none; }
a:hover  { cursor: pointer; } 

.nav-lists {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-link {
    color: #359581;
    font-size: 22px;
    font-weight: 700;
}

.parallex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallex img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.text-xl {
    position: absolute;
    font-size: 80px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}

.content {
    position: relative;
    background-color: #003329;
    padding: 100px;
    color: white;
}

.section-skateboard {
 

}

.women-img {
  
}

.contents {
    display: flex;
    justify-content: space-between;
}